@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for custom styles */

:root {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}




html,
body {
    min-height: 100%;
    /* Permite crescer - Crucial */
    width: 100%;
    /* Largura base */
    overflow-x: hidden;
    /* BLOQUEIA scroll horizontal */
    overflow-y: auto;
    /* LIBERA scroll vertical nativo */
    -webkit-overflow-scrolling: touch;
    /* Suavidade no iOS */
    margin: 0;
}

#root {
    min-height: 100vh;
    /* Garante que o app ocupe pelo menos a tela toda */
    display: flex;
    flex-direction: column;
}