@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for custom styles */

:root {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    min-width: 320px;
    height: auto;
    min-height: 100%;
}

html {
    height: auto;
    min-height: 100%;
}